table, td {border: 1px solid black;}
td {text-align: center;}
body {
  background-color: #c3fffa;
  font-family: Courier;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
}
div {
  text-align: center;
}
button {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  width: 600px;
  height: 50px;
}
img:hover {
  cursor: pointer
}


/* Slider Credit to W3 Custom Slider */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 600px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4b884b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
