<!DOCTYPE html>
<html>
  <head>
    <title>Help Rank Artist's Songs</title>
    <meta name="description" content="Taylor Swift song ranking. Kanye West song ranking">
    <meta name="keywords" content="Taylor, Swift, Kanye, West, Songs, Ranking, Leaderboard">
    <meta name="author" content="Otis Peterson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>

  <body>
    <div class="navbar">
      <a href="/">Rank Songs</a>
      <a href="/leaderboard">Leaderboard</a>
      <a href="/about">About</a>
    </div>

    <h1>About</h1>

    <p>This website was made a project, when, over summer 2020 I wanted a way to rank all of the Taylor Swift songs. In order to do this, I decided to make this project. If you're interested in crosswords, check out some of <a href="https://otispeterson.pythonanywhere.com">my other work</a> that's all about that! Feel free to <a href="mailto:opeters1@swarthmore.com">email me</a>, expecially if you have a good artist that I should add!</p>
    <p>This page's code can be found on GitHub <a href="https://github.com/OtisP/Taylor-Swift-Song-Ratings-Website">here</a>!</p>

    <div id="footer">
      <p>Created by Otis Peterson. All images reserved to Wikipedia. Not for commercial use.</p>
    </div>

  </body>
</html>
